@import '../../variables'

@keyframes entering
  0%
    top: 100vh
    bottom: 0
  100%
    top: 0
    bottom: 0

@keyframes leaving
  0%
    top: 0
    bottom: 0
  99%
    top: 0
    bottom: 100vh
    opacity: 1
  100%
    opacity: 0

.wrap
  position: fixed
  z-index: 200
  top: 100vh
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  animation-fill-mode: forwards
  &.entering
    animation-name: entering
    animation-duration: .3s
  &.leaving
    animation-name: leaving
    animation-duration: .8s

.inner
  position: absolute
  top: 0
  right: 0
  left: 0
  height: 100vh
  background-color: $main-green
  display: flex
  justify-content: center
  align-items: center

@keyframes appear
  from
    opacity: 0
  to
    opacity: 1

.loading
  animation-name: appear
  animation-duration: 1s
  animation-fill-mode: forwards
