@import '../../variables'
@import '../../mixins'

.wrap

.title
  font-size: 12px
  font-weight: bold
  color: $light-gray
  padding-top: 8px
  padding-bottom: 12px
  +desktop
    font-size: 15px
    padding-bottom: 0
    border-top: 1px solid $oc-gray-3

.items
  +desktop
    display: flex
    flex-wrap: wrap
    margin-top: 15px

.item
  margin-top: 22px
  display: flex
  cursor: pointer
  text-decoration: none
  +desktop
    margin-top: 30px
    width: 33.3%

.number
  color: $very-light-gray
  font-size: 13px
  margin-top: 4px
  +desktop
    font-size: 12px
    margin-top: 3px

.fontName
  font-size: 35px
  color: $main-gray
  margin-left: 11px
  border-bottom: 3px solid transparent
  margin-bottom: -5px
  &:after
    content: ''
    height: 4px
    display: block
    width: 0
    background: $very-light-green
    transition: all .5s ease
    margin-top: 4px
  &:hover
    color: $oc-gray-9
  &:hover:after
    width: 100%
  .wrap.asSlideMenu &
    font-size: 18px
    +desktop
      font-size: 31px
