@import '../../variables'

.title
  font-size: 12px
  font-weight: bold
  color: $light-gray
  padding-bottom: 8.5px
  border-bottom: 1px solid #e1e4e6

.item
  margin-top: 18px
  display: flex
  cursor: pointer

.number
  color: #20c997
  font-size: 10px
  font-weight: bold

.fontName
  font-size: 31px
  color: $main-color
  margin-left: 11px
