@import '../../variables'
@import '../../mixins'

$area-border: solid 2px #e1e4e6

.topNav
  +responsive-container
  display: flex
  justify-content: space-between
  line-height: 18px
  padding-top: 19px
  padding-bottom: 19px
  border-bottom: $area-border
  border-bottom-width: 1px

.title
  font-size: 18px
  font-weight: bold
  color: $main-gray
  cursor: pointer

.menuButton
  font-size: 16px
  font-weight: bold
  color: $light-green

.content
  +responsive-container

.fontName
  margin-top: 40px
  font-size: 30px
  color: $main-gray

.fontDescription
  margin-top: 55px
  font-size: 16px
  line-height: 1.5

.externalLinks
  +responsive-container
  display: flex
  justify-content: space-between
  padding: 30px 20px 70px
  border-bottom: $area-border

.linkButton
  height: 52px
  line-height: 50px
  border: solid 1px #63e6be
  box-sizing: border-box
  border-radius: 6px
  color: $light-green
  font-weight: bold
  font-size: 16px
  text-align: center
  flex-grow: 1
  cursor: pointer
  user-select: none
  transition: background-color .2s
  &:first-of-type
    margin-right: 10px
  &:after
    display: inline
    content: '>'
    color: #63e6be
    margin-left: 7px
  &:hover
    background-color: rgba(99, 230, 190, 0.08)
  &:active
    background-color: rgba(99, 230, 190, 0.2)

.areaTitle
  color: $light-gray
  font-weight: bold
  font-size: 16px

.previewSection
  +responsive-container
  overflow: hidden

.rendering
  overflow: hidden
